.App {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(124, 160, 201);
}
.container {
  padding-bottom: 40px;
}
@media screen and (max-width: 337px) {
  .App {
    display: flex;
    flex-direction: column;
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
/* 
@media screen and (min-width: 338px) {
  .App {
    display: flex;
    flex-direction: column;
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* .App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  width: 100vw;
  min-height: 100vh;

  font-family: "Space Grotesk", sans-serif;
  background-color: rgb(144, 171, 212);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.darkmode {
  position: relative;
  right: 0px;
  left: 0px;
}
.darkmode > svg {
  width: 60px;
  height: 60px;
}
 
 */
