.App {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(124, 160, 201);
}
.container {
  padding-bottom: 40px;
}
@media screen and (max-width: 337px) {
  .App {
    display: flex;
    flex-direction: column;
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
