.colorspicker_container {
  width: 660px;
  max-width: 95%;
  padding: 20px;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  cursor: pointer;
}
.color_container {
  /* margin: 20px 0 20px 0; */
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.color {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.color:hover {
  width: 60px;
  height: 60px;
  border: solid 1px black;
}
.black:hover {
  width: 60px;
  height: 60px;
  border: solid 1px white;
}

.blue {
  background: blue;
}

.red {
  background: red;
}
.green {
  background: green;
}
.yellow {
  background: yellow;
}
.white {
  background: white;
}
.black {
  background: black;
}

.selected_color {
  width: 60px;
  height: 60px;
  border: solid 1px black;
}
.test {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
    rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
    rgb(0 0 0 / 9%) 0px -3px 5px;
}
/* .selected_color > .black {
  width: 60px;
  height: 60px;
  border: solid 1px white;
} */
