@media screen and (max-width: 337px) {
  .grid_size_container {
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;
  }
  .x {
    margin: 0 20px 0 20px;
  }
  .grid_size_input,
  .grid_size_label {
    font-size: 20px;
  }
  .grid_size_btn {
    border: none;
  }
}
@media screen and (min-width: 338px) {
  .grid_size_container {
    display: flex;
    width: 600px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;
  }
  .x {
    margin: 0 20px 0 20px;
    align-items: center;
  }
  .grid_size_input,
  .grid_size_label {
    font-size: 20px;
  }
  .grid_size_btn {
    border: none;
    background-color: transparent;
  }
}
/* .grid_size_container {
  display: flex;
  max-width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.grid_size_input {
  display: flex;
  width: 50px;
  justify-content: space-around;
  text-align: center;

  font-size: 24px;
  align-items: center;
}
.x {
  display: flex;
  width: 50px;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
}
.grid_size_width {
  display: flex;
}
.grid_size_height {
  display: flex;
}
.grid_size_label {
  display: flex;
  align-items: center;
  margin: 0 10px 0 10px;
}

.grid_size_btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50px;
}

/* @media screen and (max-width: 460px) {
  .grid_size_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-items: center;
  }
}
 */
