@media screen and (max-width: 336px) {
  .grid_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
  }
  .grid {
    height: 95%;
    max-width: 90%;
  }
  .grid_row {
    display: flex;
    width: auto;

    height: 50px;
  }

  .grid_pixel {
    width: 50px;
    height: 50px;
    background: #ffffff;
    border: solid 0.2px rgb(98, 96, 96);
  }
  .grid_pixel:hover {
    border: solid 0.2px rgb(98, 96, 96);
    cursor: cell;
  }
}
@media screen and (min-width: 337px) {
  .grid_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 80px;
  }
  .grid {
    height: 95%;
    max-width: 90%;
  }
  .grid_row {
    display: flex;
    width: auto;
    height: 50px;
  }

  .grid_pixel {
    width: 50px;
    height: 50px;
    background: #ffffff;
    border: solid 0.2px rgb(98, 96, 96);
  }
  .grid_pixel:hover {
    background: rgb(98, 96, 96);
    border: solid 0.2px rgb(98, 96, 96);
    cursor: cell;
  }
}
