.colorspicker_container {
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.color {
  width: 100px;
  height: 40px;
  border-radius: 50px;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.white {
  background-color: white;
}
