.drawer_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 850px;
  height: 850px;
}
.case {
  width: 160px;
  height: 160px;
  background-color: white;
  border: solid 1px black;
}

@media screen and (max-width: 320px) {
  .drawer_container {
    width: 90%;
  }
}
