.header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
}
.header_title {
  font-family: Tahoma;
}
@media screen and(max-width: 420px) {
  .header {
    height: 60px;
    background-color: bisque;
  }
}
@media screen and(max-width: 1080px) {
  .header {
    height: 120px;
    background-color: rgb(68, 40, 5);
  }
}
